@{
    ViewData["Title"] = "Home Page";
}

@if(TempData["MessageHeader"] == null)
{
    TempData["Message"] = "Welcome to my game emporium. I have just about everything you would ask for.";
    TempData["MessageHeader"] = "Hey There!";
}


    <div class="container">
        <div class="alert alert-dismissible alert-success fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="alert-heading">@TempData["MessageHeader"]</h4>
            <p class="mb-0" id="alert-message">@TempData["Message"]<a href="#" class="alert-link"></a></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>News</h3><hr class="bg-warning" />
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-info">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-info">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-info">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                Another column here. More information about the games we sell.
            </div>
            <div class="col-md-6">
                More about upcoming features and whatnot.
            </div>
        </div>
    </div>


